<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page title</title>
  <!-- Linking to loader css -->
  <link rel="stylesheet" href="../stylesheets/loader.css">
  <!-- Linking to navbar css -->
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <!-- Linking to its css -->
  <link rel="stylesheet" href="/stylesheets/preview-page.css">
</head>
<body>

<!-- Loader -->
<span class="loader-container loader-of-page">
   <div class="loader"></div>
</span>	

<main class="main-container-of-page">
	<!------------------------------------------->
  <!--            NAVBAR SECTION             -->
  <!------------------------------------------->
  <nav>
  	<div class="left">
  		 <span class="name-of-website">
  			 Pinterest
  		 </span>
  	</div>
  	<div class="right">
  		<div class="container-of-links">
	  		 <span>
	  		 	 <a href="/">
	  		 	 	  Feed
	  		 	 </a>
	  		 </span>
	  		 <span>
	  		 	 <a href="/profile">
	  		 	 	  Profile
	  		 	 </a>
	  		 </span>
  		</div>
  		 
  		 <div class="nav-container-of-buttons">
		  	 <button class="square-button" id="search-button">
			  	 	 <a href="/search">
			  	 	   <img src="/images/search.png"/>
			  	 	 </a>
		  	 </button>
		 		 <button class="square-button" id="logout-button">
			 	 	 	 <a href="/api/user/logout">
			 	 	     Logout
			 	 	   </a>
		 		 </button>	
  		 </div>
  	</div>
  </nav>
  <!--=======================================-->
  

  
  <!------------------------------------------->
  <!--         CONTENT OF THIS PAGE          -->
  <!------------------------------------------->
  <div class="box-of-content">
    <div class="left">
				<div id="content-img-container">
				  <img src="/images/uploads/<%= post.image %>"/>
				</div>
					
			  <p class="image-name">
			    <%= post.imageText %>
			  </p>
		
		    <!-- Buttons section ex- like, dislie -->
		    <div id="button-container">
					 <!-- Like, dislike button -->
					 <div id="like-dislike-box" class="btn-box">
					 	   <img src="/images/like-btn.png" class="<%= liked %>" id="like" id="dislike" data-postid="<%= post._id %>" data-userid="<%= user._id %>"/>
					     <span id="likeSpan"><%= post.likes %></span>
						   <hr>
						   <img src="/images/like-btn.png" class="<%= disliked %>" id="dislike" data-postid="<%= post._id %>" data-userid="<%= user._id %>"/>
					 </div>
				
					 <!-- Save button -->
					 <div id="save-box" class="btn-box">
					    <img src="/images/save.png"/>
					    <span>save</span>
					 </div>
				 
					 <!-- Download button -->
					 <div id="share-box" class="btn-box">
					     <a href="/download/<%= post.image %>">
							   <img src="/images/download-icon.png"/>
							   <span>Download</span>
							 </a>
					 </div>
		    </div>
    </div> <!-- Left -->
		
		
	  <div class="right">
		  <div class="wrapper">
        <div id="comment-container">
		  		
           <!--this is a default showing comment box-->
           <div id="comment-box">
           <div class="commentNumber">Comments 11</div>
		           <!--default comment with profile image-->
		           <div id="dummy-comment">
				           <img src="/images/profile.png"></img>
				           <span> 
				             Hay bro subcribe this channel
				           </span>
               </div>
           </div><!--comment-box-->
        </div><!--comment-container-->
		  	
		  	<!-- Description for our preview image -->
		  	<h> Description </h>
		  	<p class="description">
		  		<%= post.description %>
		  	</p>
		  </div>
   </div>
  </div>	
  <!--=======================================-->
  
  
  
  <!------------------------------------------->
  <!--     FOOTER NAVIGATION SECTION         -->
  <!------------------------------------------->
  <footer>
	  <div class="right">
		    <button class="button-in-footer home-button">
		    	<a href="/">
		    		<img src="/images/home.png"/>
		    	</a>
		    </button>
 	      <button class="button-in-footer bell-button">
		    	<a href="/search">
		    		<img src="/images/search.png"/>
		    	</a>
		    </button>
		    <button class="button-in-footer message-button">
		    	<a href="/inbox">
		    		<img src="/images/message.png"/>
		    	</a>
		    </button>
		    <button class="profile">
		    	<a href="/profile">
		    		<img src="/images/profile.png"/>
		    	</a>
		    </button>
	  </div>
  </footer>
	<!--=======================================-->
</main>



<!------------------------------------------->
<!--         SAVE IMAGE POPUP MENU         -->
<!------------------------------------------->
 <div class="save-image-modal">
  	<div class="wrapper" id="save-image-modal-wrapper" data-image="<%= post.image %>" data-imagetext="<%= post.imageText %>" data-description="<%= post.description %>">
  		
  		<div class="navbar-of-save-modal">
  			<span> Save to </span>
  			<img src="/images/cut-icon.png" class="cut-btn-of-modal-navbar"/>
  		</div>
  		
  		<div class="boards">
	  	  <% user.boards.forEach((boardName, index)=>{ %>
	  		   <% if(boardName != 'Your uploads'){ %>
					  	<div class="box" data-boardname="<%= boardName %>" data-indexofbox="<%= index %>">
					  	 	 <p data-boardname="<%= boardName %>" data-indexofbox="<%= index %>"> <%= boardName %> 
					  	 	 </p>
					  	 	 <!-- Loader -->
								 <span class="loader-container loader-inside-board-boxes">
								     <div class="loader"></div>
								 </span>
					  	</div>
			     <% } %> 
			  <% }); %>
		  </div>
		  
		   <div class="create-new-board-container">
			  	<input type="text" id="input-for-create-new-board-name" placeholder="Create new board"/>
			  	<button class="create-new-board-button">
				  		<span id="span-inside-create-board-button"> Create </span>
				  		<!-- Loader -->
						  <span class="loader-container loader-inside-create-board-btn">
							  <div class="loader"></div>
							</span>
			  	</button>
		  </div>
  	</div>
 </div>
<!--=======================================-->



<!------------------------------------------->
<!--        ACTUAL COMMENT SECTION         -->
<!------------------------------------------->
<div id="comment-ka-main-container" data-postid="<%= post._id %>">
	 <!--navbar for cut button-->
	 <div id="navbar-of-comment">
			 <span>Comments</span>
			 <div id="comment-cross-button" class="nav-comment-close-btn">
	  	 <img src="/images/close.png"/>
			 </div>
	 </div>
   
   <!-- Container where comments wii be displayed -->
	 <div class="container-of-boxes-of-comment">
	 	 <div class="wrapper-inside-comment-boxes-container">
	 	 	<!-- here comment boxes will be dispalyed by javascript -->
	 	 </div>
   </div>  
	 
	 
	 <!--  Post comment section -->
	 <div class="main-container-of-post-comment" data-username="<%= user.username %>" data-profileimage="<%= user.profileImage %>" data-postid="<%= post._id %>">
		  <div id="form-to-post-comment">
		  	<input type="text" class="input-text-of-post-comment" placeholder="Enter your comment" name="content"/>
		  </div>
		  <div class="image-container" id="post-comment-button">
		  	<img src="/images/send.png"/>
		  </div>
		  	
		  <!-- Loader -->
		  <span class="loader-container" id="loader-inside-post-comment">
		     <div class="loader"></div>
		  </span>
	 </div>
</div>
<!--=======================================-->




<!-- Automatically show eruda console -->
<script src="/javascripts/eruda-console.js"></script>
<!-- Linking to this page's javascript file -->
<script src="/javascripts/preview.js"></script>
<!-- Linking to hide-loader javascript -->
<script src="../javascripts/hide-loader.js"></script>
</body>
</html>